html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 0;
	opacity: 1;
    font-size: 1rem;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.nav-bar-text
{
    font-family:"Heebo";
    font-size: 1rem;
    font-weight: normal; 
    letter-spacing: 0;
    opacity: 100%;
    color: #F9F9F9;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: grey;
}

.nav-bar-text:hover
{
	background-color: black;
}

.landing-image{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 3rem;
}

.url-input{
    margin-top: 15rem;
    margin-left: 20%;
    /* margin-right: 500rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}