<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <title>Recap</title>
    <link rel="stylesheet" href="{% static 'Website/cssfile/404wrong.css' %}">
    <link rel="icon" href="{% static 'Website/images/RC.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</body>
</html>
  </head>
  <body>
    <div class="container">
      <h2>Oops! Url not found.</h2>
      <h1>404</h1>
      <p>We can't find that url.</p>
      <a href="http://127.0.0.1:8000/">Go back home</a>
    </div>
  </body>
</html>
