<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'Website/cssfile/indexcss.css' %}">
</head>
<body>
	<img class="wave" src="{% static 'Website/images/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static  'Website/images/bg.svg' %}">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="{% static  'Website/images/yt.png' %}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Enter Yt Video :- </h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
            	<input type="submit" class="btn" value="Proceed">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'Website/main.js' %}"></script>
</body>
</html>