body{
    /* background-image: url("https://ak9.picdn.net/shutterstock/videos/10034429/thumb/1.jpg"); */
    background-image: url("https://www.codepark.in/static/media/img_5.829ddbf4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
  }
  
  *{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .contact-section{
    /* background: url(bg.png) no-repeat center; */
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: black;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #2CCC93;
    margin: 40px auto;
  }
  
  .contact-form{
    /* max-width: 600px; */
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    margin: 0 1rem 0 1rem;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #2CCC93;
  }
  textarea.contact-form-text{
    resize: none;
    height: 20rem;
    width: 50rem;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #2CCC93;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
  
  .youtube{
    display: flex;
    justify-content: center;
  }